<ion-header>
  <ion-toolbar color ="primary

  ">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
PROGRESO
    </ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content fullscreen>
<ion-tabs>
  <ion-list>
    <ion-item>
      <ion-icon slot="end" name="color-wand"></ion-icon>
      <ion-label>Gran Mago</ion-label>
    </ion-item>
    <ion-progress-bar color="secondary" value="0.5"></ion-progress-bar>
  </ion-list>
  

  <ion-list>
    <ion-item>
      <ion-icon slot="end" name="ribbon"></ion-icon>
      <ion-label>Hacedor de Idiomas</ion-label>
    </ion-item>
    <ion-progress-bar color="secondary" value="0.1"></ion-progress-bar>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-icon slot="end" name="bonfire"></ion-icon>
      <ion-label>Vendedor de Cacaos</ion-label>
    </ion-item>
    <ion-progress-bar color="secondary" value="1"></ion-progress-bar>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-icon slot="end" name="medal"></ion-icon>
      <ion-label>Maje de Guate</ion-label>
    </ion-item>
    <ion-progress-bar color="secondary" value="0.25"></ion-progress-bar>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-icon slot="end" name="moon"></ion-icon>
      <ion-label>Curso Nocturno</ion-label>
    </ion-item>
    <ion-progress-bar color="secondary" value="0.50"></ion-progress-bar>
  </ion-list>

  
  <ion-list>
    <ion-item>
      <ion-icon slot="end" name="school"></ion-icon>
      <ion-label>Sos pilas va</ion-label>
    </ion-item>
    <ion-progress-bar color="secondary" value="0.75"></ion-progress-bar>
  </ion-list>


  <ion-tab-bar  class="tab" slot="bottom">
    <ion-tab-button routerLink="/kaqchikel">
      <ion-icon name="bookmarks"></ion-icon>
      <ion-label>vocabulario</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button routerLink="/progreso">
      <ion-icon name="happy"></ion-icon>
      <ion-label>Progreso</ion-label>
    </ion-tab-button>


    <ion-tab-button  routerLink="/tienda">
      <ion-icon name="pricetags"></ion-icon>
      <ion-label>Tienda</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>