<ion-header>
  <ion-toolbar color ="primary

  ">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
  CURSOS
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-card class="welcome-card">
        <ion-img src="assets/img/maya.png"></ion-img>
        <ion-card-header>
          <ion-card-title>Kaqchikel</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>El idioma kaqchikel es una lengua hablada por la población Kaqchikel 
            en la región centro occidental de Guatemala. </p>
        </ion-card-content>
        <ion-button expand="block" routerLink="/kaqchikel">Comenzar</ion-button>
      </ion-card>



      <ion-card class="welcome-card">
          <ion-img src="assets/img/guatemala.png"></ion-img>
          <ion-card-header>
            <ion-card-title>Español</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>El idioma Español es un idioma que se habla en la mayoría de las regiones del país, aprende
              fácilmente el idioma </p>
          </ion-card-content>
          <ion-button expand="block">Comenzar</ion-button>
        </ion-card>
  
  

        <ion-card class="welcome-card">
            <ion-img src="assets/img/señas.png"></ion-img>
            <ion-card-header>
              <ion-card-title>Señas</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>El lenguaje de señas es un lenguaje inclusivo para aprender a comunicarse con personas, sordas, mudas, y sordomudas, comparte con ellos, aprende facilmente </p>
            </ion-card-content>
            <ion-button expand="block">Comenzar</ion-button>
          </ion-card>
    
    
      
</ion-content>
